.main-container {
    font-size: 20px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 50px; right: 0;
    height: 140px;
    max-width: 700px;
}

.main-container strong {
    font-weight: 400;
    color: #B13131
}